<template>
    <div>
        <div v-if="detailInfo != null">
            <el-descriptions border :column=2>
                <el-descriptions-item label="정산년월">{{ this.id }}</el-descriptions-item>
                <el-descriptions-item label="정산액">{{ detailInfo.price }}</el-descriptions-item>
            </el-descriptions>
            <div align="right" class="mt-2">
                <el-button type="success" circle @click.native="moveEdit">완료</el-button>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            detailInfo: null,
            year: null,
            month: null
        }
    },
    methods: {
        async getDetail() {
            let payload = {
                year: this.id.split("-")[0],
                month: this.id.split("-")[1]
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$settlementConstants.DO_DETAIL, payload)
                .then((res) => {
                    this.detailInfo = res.data.data
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveEdit() {
            let payload = {
                year: this.id.split("-")[0],
                month: this.id.split("-")[1]
            }
            if (confirm('완료하시겠습니까?')) {
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
                this.$store.dispatch(this.$settlementConstants.DO_UPDATE, payload)
                    .then((res) => {
                        this.$toast.success(res.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                        this.$router.replace(`/settlement/list`)
                    })
                    .catch((err) => {
                        this.$toast.error(err.response.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
            }
        },
    },
    created() {
        this.getDetail()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'PRODUCT_DETAIL')
    },
}
</script>
