<template>
    <div>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
            <el-row>
                <el-col :span="8">
                    <el-form-item label="상품 타입" prop="sellProductType" class="pb-2">
                        <el-select v-model="ruleForm.sellProductType" placeholder="상품타입을 입력해주세요">
                            <el-option label="커피" value="COFFEE"></el-option>
                            <el-option label="논커피" value="NON_COFFEE"></el-option>
                            <el-option label="에이드" value="ADE"></el-option>
                            <el-option label="티" value="TEA"></el-option>
                            <el-option label="디저트" value="DESSERT"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item label="상품명" prop="productName" class="pb-2">
                        <el-input v-model="ruleForm.productName" placeholder="상품명을 입력해주세요"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item label="단가" prop="unitPrice" class="pb-2">
                        <el-input v-model="ruleForm.unitPrice"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item label="상태" prop="isEnabled" class="pb-2">
                        <el-switch v-model="ruleForm.isEnabled">
                        </el-switch>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item>
                        <el-button type="primary" class="size-full" @click.native="doSetData">등록</el-button>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</template>

<script>
export default {
    // middleware: 'auth',
    asyncData({params}) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            id: null,
            ruleForm: {
                sellProductType: '',
                productName: '',
                isEnabled: true,
                unitPrice: 0,
            },
            rules: {
                sellProductType: [
                    {required: true, message: '상품타입을 선택해주세요', trigger: 'blur'},
                ],
                productName: [
                    {required: true, message: '상품명을 입력해주세요', trigger: 'blur'},
                    {min: 2, max: 20, message: '2~20자 내로 입력해주세요.', trigger: 'blur'}
                ],
                unitPrice: [
                    {required: true, message: '단가를 입력해주세요', trigger: 'blur'},
                ],
            }
        }
    },
    methods: {
        doSetData() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData() {
            let payload = {
                id: this.id,
                data: {
                    sellProductType: this.ruleForm.sellProductType,
                    productName: this.ruleForm.productName,
                    isEnabled: this.ruleForm.isEnabled,
                    unitPrice: Number(this.ruleForm.unitPrice)
                }
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$sellProductConstants.DO_UPDATE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/sell-product/list`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'SELL_PRODUCT_LIST')
    },
}
</script>
