<template>
    <div>
        <el-row>
            <el-col :span="5">
                <div class="flex-box">
                    <el-input class="mr-1" v-model="searchName" placeholder="이름"></el-input>
                    <el-button type="success" circle @click.native="getList">검색</el-button>
                </div>
            </el-col>
        </el-row>
        <el-table
            class="mt-2 mb-2"
            :data="list"
            style="width: 100%"
            @row-click="moveDetail">
            <el-table-column
                align="center"
                prop="id"
                label="No."
                width="80">
            </el-table-column>
            <el-table-column
                align="center"
                prop="member"
                label="이름">
            </el-table-column>
            <el-table-column
                align="center"
                prop="moneyType"
                label="급여타입">
            </el-table-column>
            <el-table-column
                align="center"
                prop="beforeMoney"
                label="세전금액">
            </el-table-column>
        </el-table>
        <el-pagination
            background
            small
            layout="prev, pager, next"
            :total="totalItemCount"
            :current-page="page"
            @current-change="setPage"
        >
        </el-pagination>
    </div>
</template>
<script>
export default {
    data() {
        return {
            list: [],
            page: 1,
            totalItemCount: 0,

            searchName: null
        }
    },
    methods: {
        setPage(page) {
            this.page = page
            this.getList()
        },
        getList() {
            let payload = {
                page: this.page,
                params: {
                    searchName: this.searchName
                }
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$moneyConstants.DO_LIST, payload)
                .then((res) => {
                    this.list = res.data.list
                    this.totalItemCount = res.data.totalItemCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveDetail(row) {
            let linkBaseUrl = '/money/detail/'
            let id = row.id
            this.$router.push(`${linkBaseUrl}${id}`)
        }
    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MONEY_LIST')
    },
}
</script>
