<template>
    <div>
        <el-row>
            <el-col :span="8">
                <div class="flex-box">
                    <el-select class="mr-1" v-model="searchYear" placeholder="년도">
                        <el-option v-for="(item, index) in yearList" :key="index" :value="item.value">{{ item.name }}</el-option>
                    </el-select>
                    <el-select class="mr-1" v-model="searchMonth" placeholder="월">
                        <el-option v-for="(n, index) in 12" :key="index" :value="n < 10 ? '0' + n : n">{{ n < 10 ? '0' + n : n }}</el-option>
                    </el-select>
                    <el-button type="success" circle @click.native="getList">검색</el-button>
                </div>
            </el-col>
        </el-row>
        <el-table
            @row-click="moveDetail"
            :data="list"
            class="mt-2 mb-2"
            style="width: 100%">
            <el-table-column
                prop="id"
                label="No."
                width="80"
                align="center">
            </el-table-column>
            <el-table-column
                prop="dateSettlement"
                label="정산년월"
                align="center">
            </el-table-column>
            <el-table-column
                prop="price"
                label="금액"
                align="center">
            </el-table-column>
            <el-table-column
                prop="isComplete"
                label="완료여부"
                align="center">
            </el-table-column>
        </el-table>
        <div>
            <el-pagination
                background
                small
                layout="prev, pager, next"
                :total="totalItemCount"
                :current-page="page"
                @current-change="setPage"
            >
            </el-pagination>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            yearList: [
                {name: new Date().getFullYear(), value: new Date().getFullYear()},
                {name: new Date().getFullYear() - 1, value: new Date().getFullYear() - 1},
                {name: new Date().getFullYear() - 2, value: new Date().getFullYear() - 2},
                {name: new Date().getFullYear() - 3, value: new Date().getFullYear() - 3},
            ],
            list: [],
            page: 1,
            totalItemCount: 0,

            searchYear: null,
            searchMonth: null
        }
    },
    methods: {
        setPage(page) {
            this.page = page
            this.getList()
        },
        getList() {
            let payload = {
                page: this.page,
                params: {
                    searchYear: this.searchYear,
                    searchMonth: this.searchMonth
                }
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$settlementConstants.DO_LIST, payload)
                .then((res) => {
                    this.list = res.data.list
                    this.totalItemCount = res.data.totalItemCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveDetail(row) {
            let linkBaseUrl = '/settlement/detail/'
            let id = row.dateSettlement
            this.$router.push(`${linkBaseUrl}${id}`)
        },
    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'SETTLEMENT_LIST')
    },
}
</script>
