<template>
    <div v-if="detailInfo != null">
        <el-descriptions class="mb-2" title="게시글 상세보기" :column=2 border>
            <el-descriptions-item label="제목">{{ detailInfo.title }}<br/></el-descriptions-item>
            <el-descriptions-item label="작성시간">{{ detailInfo.dateWrite }}</el-descriptions-item>
            <el-descriptions-item label="내용">{{ detailInfo.content }}<br/></el-descriptions-item>
        </el-descriptions>
        <el-row>
            <div align="right">
                <el-button type="primary" circle @click.native="moveEdit(id)">수정</el-button>
                <el-button type="danger" circle @click.native="delData(id)">삭제</el-button>
            </div>
        </el-row>
    </div>
</template>
<script>
export default {
    middleware: 'auth',
    asyncData({params}) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            id: null,
            detailInfo: null,
        }
    },
    methods: {
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$boardConstants.DO_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        delData(id) {
            if (confirm('정말 삭제하시겠습니까?')) { // javascript confirm 검색하기
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
                this.$store.dispatch(this.$boardConstants.DO_DELETE, {id: id})
                    .then((res) => {
                        this.$toast.success(res.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                        this.$router.replace(`/board/list`)
                    })
                    .catch((err) => {
                        this.$toast.error(err.response.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
            }
        },
        moveEdit(id) {
            let linkBaseUrl = '/board/edit/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },
    },
    created() {
        this.getDetail()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'BOARD_DETAIL')
    },
}
</script>
