<template>
    <div>
        <el-row>
            <el-col>
                <div class="flex-box">
                    <div class="flex-box">
                        <el-select class="mr-1" v-model="searchType" placeholder="상품타입">
                            <el-option label="커피" value="COFFEE"></el-option>
                            <el-option label="논커피" value="NON_COFFEE"></el-option>
                            <el-option label="에이드" value="ADE"></el-option>
                            <el-option label="티" value="TEA"></el-option>
                            <el-option label="디저트" value="DESSERT"></el-option>
                        </el-select>
                        <el-input class="mr-1" v-model="searchName" placeholder="이름"></el-input>
                        <el-button type="success" circle @click.native="getList">검색</el-button>
                    </div>
                    <div>
                        <el-button type="success" circle @click.native="moveCreate">등록</el-button>
                    </div>
                </div>
            </el-col>
        </el-row>
        <el-table
            :data="list"
            style="width: 100%"
            class="mt-2 mb-2">
            <el-table-column
                prop="id"
                label="No."
                width="80"
                align="center">
            </el-table-column>
            <el-table-column
                prop="productName"
                label="상품명"
                align="center">
            </el-table-column>
            <el-table-column
                prop="sellProductType"
                label="상품타입"
                align="center">
            </el-table-column>
            <el-table-column
                prop="unitPrice"
                label="가격"
                align="center">
            </el-table-column>
            <el-table-column
                prop="isEnabled"
                label="사용여부"
                align="center">
            </el-table-column>
            <el-table-column
                label="수정"
                align="center">
                <template slot-scope="scope"><el-button type="info" @click.native="moveEdit(scope.row.id)">수정</el-button></template>
            </el-table-column>
        </el-table>
        <el-pagination
            background
            small
            layout="prev, pager, next"
            :total="totalItemCount"
            :current-page="page"
            @current-change="setPage"
        >
        </el-pagination>
    </div>
</template>
<script>
export default {
    data() {
        return {
            list: [],
            page: 1,
            totalItemCount: 0,

            searchType: null,
            searchName: null
        }
    },
    methods: {
        setPage(page) {
            this.page = page
            this.getList()
        },
        getList() {
            let payload = {
                page: this.page,
                params: {
                    searchType: this.searchType,
                    searchName: this.searchName
                }
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$sellProductConstants.DO_LIST, payload)
                .then((res) => {
                    this.list = res.data.list
                    this.totalItemCount = res.data.totalItemCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveCreate() {
            this.$router.push(`/sell-product/form`)
        },
        moveDetail(row) {
            let linkBaseUrl = '/sell-product/detail/'
            let id = row.id
            this.$router.push(`${linkBaseUrl}${id}`)
        },
        moveEdit(id) {
            let linkBaseUrl = '/sell-product/edit/'
            this.$router.push(`${linkBaseUrl}${id}`)
        }
    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'SELL_PRODUCT_LIST')
    },

}
</script>
