<template>
    <div v-if="detailInfo != null">
        <el-descriptions :column=2 border>
            <el-descriptions-item label="이름">{{ detailInfo.member }}<br /></el-descriptions-item>
            <el-descriptions-item label="급여타입">{{ detailInfo.moneyType }}<br /></el-descriptions-item>
            <el-descriptions-item label="세전금액">{{ detailInfo.beforeMoney }}원</el-descriptions-item>
            <el-descriptions-item label="국민연금">{{ detailInfo.nationalPension }}원</el-descriptions-item>
            <el-descriptions-item label="건강보험">{{ detailInfo.healthInsurance }}원</el-descriptions-item>
            <el-descriptions-item label="장기요양보험">{{ detailInfo.longTermCareInsurance }}원</el-descriptions-item>
            <el-descriptions-item label="고용보험">{{ detailInfo.employmentInsurance }}원</el-descriptions-item>
            <el-descriptions-item label="산재보험">{{ detailInfo.industrialAccidentInsurance }}원</el-descriptions-item>
            <el-descriptions-item label="소득세">{{ detailInfo.incomeTax }}원</el-descriptions-item>
            <el-descriptions-item label="지방소득세">{{ detailInfo.localIncomeTax }}원</el-descriptions-item>
        </el-descriptions>
        <div align="right" class="mt-2">
            <el-button type="info" circle @click.native="moveEdit(id)">수정</el-button>
        </div>
    </div>
</template>
<script>

export default {
    async asyncData({params}) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            id: null,
            detailInfo: null,
        }
    },
    methods: {
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$moneyConstants.DO_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveEdit(id) {
            let linkBaseUrl = '/money/edit/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },
    },
    created() {
        this.getDetail()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MONEY_DETAIL')
    },
}
</script>
