<template>
    <div>
        <div align="right">
            <el-button type="success" circle @click.native="moveRefund">환불</el-button>
        </div>
        <el-table
            :data="list"
            style="width: 100%"
            class="mt-2">
            <el-table-column
                prop="productName"
                label="상품명"
                align="center">
            </el-table-column>
            <el-table-column
                prop="quantity"
                label="수량"
                align="center">
            </el-table-column>
            <el-table-column
                prop="price"
                label="금액"
                align="center">
            </el-table-column>
            <el-table-column
                prop="dateRefund"
                label="환불일"
                align="center">
            </el-table-column>
            <el-table-column
                prop="isComplete"
                label="완료여부"
                align="center">
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
export default {
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            list: [],
            billNumber: null
        }
    },
    methods: {
        getList() {
            let payload = {
                billNumber: this.id
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$sellConstants.DO_BILL_NUMBER_DETAIL, payload)
                .then((res) => {
                    this.list = res.data.list
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveRefund() {
            let payload = {
                billNumber: this.id
            }
            if (confirm('정말 환불하시겠습니까?')) {
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
                this.$store.dispatch(this.$sellConstants.DO_REFUND, payload)
                    .then((res) => {
                        this.$toast.success(res.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                        this.$router.replace(`/sell/list`)
                    })
                    .catch((err) => {
                        this.$toast.error(err.response.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
            }
        },
    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'SELL_LIST')
    },
}
</script>
