<template>
    <div>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
            <el-row>
                <el-col :span="8">
                    <el-form-item label="상품명" prop="productName" class="pb-2">
                        <el-input v-model="ruleForm.productName"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item label="상품 타입" prop="productType" class="pb-2">
                        <el-select v-model="ruleForm.productType" placeholder="상품타입을 선택해주세요">
                            <el-option label="원자재" value="RAW_MATERIAL"></el-option>
                            <el-option label="완제품" value="FINISHED_PRODUCT"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item label="사용여부" prop="isEnabled" class="pb-2">
                        <el-switch v-model="ruleForm.isEnabled">
                        </el-switch>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item>
                        <el-button type="primary" class="size-full" @click.native="doSetData">등록</el-button>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</template>
<script>
export default {
    asyncData({ params }) {
        return {
            id: params.id,
        }
    },
    data() {
        return {
            id: null,
            ruleForm: {
                productName: '',
                productType: '',
                isEnabled: true,
            },
            rules: {
                productName: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:2, max:20, message:'2~20자 내로 입력해주세요.', trigger: 'blur'}
                ],
                productType: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
            }
        }
    },
    methods: {
        doSetData() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData() {
            let payload = {
                id: this.id,
                data: {
                    productName: this.ruleForm.productName,
                    productType: this.ruleForm.productType,
                    isEnabled: this.ruleForm.isEnabled
                }
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$productConstants.DO_UPDATE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/product/list`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'PRODUCT_LIST')
    },
}
</script>
