<template>
    <div>
        <div class="flex-box">
            <div class="flex-box">
                <el-input class="mr-1" v-model="searchTitle" placeholder="제목"></el-input>
                <el-button type="success" circle @click.native="getList">검색</el-button>
            </div>
            <div>
                <el-button type="success" circle @click.native="moveCreate">등록</el-button>
            </div>
        </div>
        <el-table
            @row-click="moveDetail"
            :data="list"
            class="mt-2 mb-2"
            style="width: 100%">
            <el-table-column
                prop="id"
                label="No."
                width="80"
                align="center">
            </el-table-column>
            <el-table-column
                prop="title"
                label="제목"
                align="center">
            </el-table-column>
            <el-table-column
                prop="dateWrite"
                label="작성일"
                align="center">
            </el-table-column>
        </el-table>
        <div>
            <el-pagination
                background
                small
                layout="prev, pager, next"
                :total="totalItemCount"
                :current-page="page"
                @current-change="setPage"
            >
            </el-pagination>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            list: [],
            page: 1,
            totalItemCount: 0,

            searchTitle: null
        }
    },
    methods: {
        setPage(page) {
            this.page = page
            this.getList()
        },
        getList() {
            let payload = {
                page: this.page,
                params: {
                    searchTitle: this.searchTitle
                }
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$boardConstants.DO_LIST, payload)
                .then((res) => {
                    console.log(res)
                    this.list = res.data.list
                    this.totalItemCount = res.data.totalItemCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        delData(id) {
            if (confirm('정말 삭제하시겠습니까?')) {
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
                this.$store.dispatch(this.$boardConstants.DO_DELETE, {id: id})
                    .then((res) => {
                        this.$toast.success(res.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
                    .catch((err) => {
                        this.$toast.error(err.response.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
            }
        },
        moveCreate() {
            this.$router.push('/board/add')
        },
        moveDetail(row) {
            let linkBaseUrl = '/board/detail/'
            let id = row.id
            this.$router.push(`${linkBaseUrl}${id}`)
        },
    },
    created() {
        this.getList()
    },
}
</script>
