<template>
    <div>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
            <el-row>
                <el-col :span="8">
                    <el-form-item label="상품명" prop="productName" class="pb-2">
                        <el-input v-model="ruleForm.productName" placeholder="상품명을 입력해주세요"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item label="상품 타입" prop="productType" class="pb-2">
                        <el-select v-model="ruleForm.productType" placeholder="상품타입을 입력해주세요">
                            <el-option label="원자재" value="RAW_MATERIAL"></el-option>
                            <el-option label="완제품" value="FINISHED_PRODUCT"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item label="단가" prop="unitPrice" class="pb-2">
                        <el-input v-model="ruleForm.unitPrice" placeholder="단가를 입력해주세요"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item>
                        <el-button type="primary" class="size-full" @click="doSetData()">등록</el-button>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</template>

<script>
export default {
    // middleware: 'auth',
    data() {
        return {
            ruleForm: {
                productName: '',
                productType: '',
                unitPrice: '',
            },
            rules: {
                productName: [
                    { required: true, message: '상품명을 입력해주세요', trigger: 'blur'},
                    { min:2, max:20, message:'2~20자 내로 입력해주세요.', trigger: 'blur'}
                ],
                productType: [
                    { required: true, message: '상품타입을 선택해주세요', trigger: 'change'},
                ],
                unitPrice: [
                    { required: true, message: '단가를 입력해주세요', trigger: 'blur'},
                ],
            }
        }
    },
    methods: {
        doSetData() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData() {
            let payload = {
                productName: this.ruleForm.productName,
                productType: this.ruleForm.productType,
                unitPrice: Number(this.ruleForm.unitPrice),
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$productConstants.DO_CREATE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/product/list`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'PRODUCT_ADD')
    },
}
</script>

