<template>
    <div v-if="detailInfo != null">
        <el-descriptions border>
            <el-descriptions-item label="이름">{{ detailInfo.memberName }}</el-descriptions-item>
            <el-descriptions-item label="직급">{{ detailInfo.memberGroup }}</el-descriptions-item>
            <el-descriptions-item label="연락처">{{ detailInfo.contact }}</el-descriptions-item>
            <el-descriptions-item label="입사일">{{ detailInfo.dateCreate }}</el-descriptions-item>
            <el-descriptions-item label="퇴사일">{{ detailInfo.dateEnd }}</el-descriptions-item>
            <el-descriptions-item label="재직여부">{{ detailInfo.isEnabled }}</el-descriptions-item>
        </el-descriptions>
        <div class="mt-2" align="right">
            <el-button type="primary" circle @click.native="moveEdit(id)">수정</el-button>
            <el-button type="danger" circle @click.native="editEnd(id)">퇴사</el-button>
            <el-button type="info" circle @click.native="moveMoney(id)">급여 등록</el-button>
            <el-button type="info" circle @click.native="moveMoneyHistory(id)">급여 지급</el-button>
        </div>
    </div>
</template>
<script>

export default {
    async asyncData({params}) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            id: null,
            detailInfo: null,
        }
    },
    methods: {
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$memberConstants.DO_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        editEnd(id) {
            if (confirm('정말 퇴사처리하시겠습니까?')) {
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
                this.$store.dispatch(this.$memberConstants.DO_END, {id: id})
                    .then((res) => {
                        this.$toast.success(res.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                        this.$router.push('/member/list')
                    })
                    .catch((err) => {
                        this.$toast.error(err.response.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
            }
        },
        moveEdit(id) {
            let linkBaseUrl = '/member/edit/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },
        moveMoney(id) {
            let linkBaseUrl = '/money/form/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },
        moveMoneyHistory(id) {
            let linkBaseUrl = '/money-history/form/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },
    },
    created() {
        this.getDetail()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'STAFF_DETAIL')
    },
}
</script>
