<template>
    <div>
        <input type="file" @change="uploadFile" ref="csvFile" />
    </div>
</template>
<script>
export default {
    data() {
        return {
            csvFile: null
        }
    },
    methods: {
        async uploadFile() {
            this.csvFile = this.$refs.csvFile.files[0]

            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$sellConstants.DO_CREATE, this.csvFile)
                .then((res) => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.push('/sell/list')
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'SELL_ADD')
    },
}
</script>
