<template>
    <div>
        <el-row>
            <el-col :span="12">
                <div class="flex-box">
                    <el-select class="mr-1" v-model="searchYear" placeholder="년도">
                        <el-option v-for="(item, index) in yearList" :key="index" :value="item.value">{{ item.name }}</el-option>
                    </el-select>
                    <el-select class="mr-1" v-model="searchMonth" placeholder="월">
                        <el-option v-for="(n, index) in 12" :key="index" :value="n < 10 ? '0' + n : n">{{ n < 10 ? '0' + n : n }}</el-option>
                    </el-select>
                    <el-select class="mr-1" v-model="searchDay" placeholder="월">
                        <el-option v-for="(n, index) in 31" :key="index" :value="n < 10 ? '0' + n : n">{{ n < 10 ? '0' + n : n }}</el-option>
                    </el-select>
                    <el-select class="mr-1" v-model="searchComplete" placeholder="완료여부">
                        <el-option label="O" value="O"></el-option>
                        <el-option label="X" value="X"></el-option>
                    </el-select>
                    <el-button type="success" circle @click.native="getList">검색</el-button>
                </div>
            </el-col>
        </el-row>
        <el-table
            :data="list"
            style="width: 100%"
            class="mt-2 mb-2">
            <el-table-column
                prop="id"
                label="No."
                width="80"
                align="center">
            </el-table-column>
            <el-table-column
                prop="productName"
                label="상품명"
                align="center">
            </el-table-column>
            <el-table-column
                prop="quantity"
                label="수량"
                align="center">
            </el-table-column>
            <el-table-column
                prop="unitPrice"
                label="단가"
                align="center">
            </el-table-column>
            <el-table-column
                prop="price"
                label="금액"
                align="center">
            </el-table-column>
            <el-table-column
                prop="dateOrder"
                label="발주일"
                align="center">
            </el-table-column>
            <el-table-column
                prop="isComplete"
                label="완료여부"
                align="center">
            </el-table-column>
            <el-table-column
                label="완료"
                align="center"
                width="80">
                <template slot-scope="scope"><el-button type="info" @click.native="moveEdit(scope.row.id)">완료</el-button></template>
            </el-table-column>
        </el-table>
        <el-pagination
            background
            small
            layout="prev, pager, next"
            :total="totalItemCount"
            :current-page="page"
            @current-change="setPage"
        >
        </el-pagination>
    </div>
</template>
<script>

export default {
    data() {
        return {
            yearList: [
                {name: new Date().getFullYear(), value: new Date().getFullYear()},
                {name: new Date().getFullYear() - 1, value: new Date().getFullYear() - 1},
                {name: new Date().getFullYear() - 2, value: new Date().getFullYear() - 2},
                {name: new Date().getFullYear() - 3, value: new Date().getFullYear() - 3},
            ],
            list: [],
            page: 1,
            totalItemCount: 0,

            searchYear: null,
            searchMonth: null,
            searchDay: null,
            searchComplete: null
        }
    },
    methods: {
        setPage(page) {
            this.page = page
            this.getList()
        },
        getList() {
            let payload = {
                page: this.page,
                params: {
                    searchYear: this.searchYear,
                    searchMonth: this.searchMonth,
                    searchDay: this.searchDay,
                    searchComplete: this.searchComplete
                }
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$productOrderConstants.DO_LIST, payload)
                .then((res) => {
                    this.list = res.data.list
                    this.totalItemCount = res.data.totalItemCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveEdit(id) {
            if (confirm('완료하시겠습니까?')) {
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
                this.$store.dispatch(this.$productOrderConstants.DO_UPDATE, {id: id})
                    .then(res => {
                        this.$toast.success(res.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                        this.$router.replace(`/product-order/list`)
                    })
                    .catch(err => {
                        this.$toast.error(err.response.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
            }
        },
    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'PRODUCT_ORDER_LIST')
    },

}
</script>
