<template>
    <div>
        <div align="right">
            <el-button type="success" circle @click.native="moveProductOrder">발주</el-button>
        </div>
        <el-table
            :data="list"
            style="width: 100%"
            class="mt-2 mb-2">
            <el-table-column
                prop="id"
                label="No."
                width="80"
                align="center">
            </el-table-column>
            <el-table-column
                prop="product"
                label="상품"
                align="center">
            </el-table-column>
            <el-table-column
                prop="quantity"
                label="수량"
                align="center">
            </el-table-column>
            <el-table-column
                prop="price"
                label="가격"
                align="center">
            </el-table-column>
            <el-table-column
                label="수정"
                align="center">
                <template slot-scope="scope"><el-button type="info" @click.native="moveEdit(scope.row.id)">수정</el-button></template>
            </el-table-column>
            <el-table-column
                label="삭제"
                align="center">
                <template slot-scope="scope"><el-button type="danger" @click.native="delData(scope.row.id)">삭제</el-button></template>
            </el-table-column>
        </el-table>
    </div>
</template>
<script>
export default {
    data() {
        return {
            list: [],
        }
    },
    methods: {
        getList() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$basketConstants.DO_LIST)
                .then((res) => {
                    this.list = res.data.list
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveCreate() {
            this.$router.push(`/basket/form`)
        },
        moveProductOrder() {
            if (confirm('발주하시겠습니까?')) {
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
                this.$store.dispatch(this.$productOrderConstants.DO_CREATE)
                    .then((res) => {
                        this.$toast.success(res.data.msg)
                        this.getList()
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
                    .catch((err) => {
                        this.$toast.error(err.response.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
            }
        },
        delData(id) {
            if (confirm('정말 삭제하시겠습니까?')) {
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
                this.$store.dispatch(this.$basketConstants.DO_DELETE, {id: id})
                    .then((res) => {
                        this.$toast.success(res.data.msg)
                        this.getList()
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
                    .catch((err) => {
                        this.$toast.error(err.response.data.msg)
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    })
            }
        },
        moveEdit(id) {
            let linkBaseUrl = '/basket/edit/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },
    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'BASKET_LIST')
    },

}
</script>
