<template>
    <div>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
            <el-row>
                <el-col :span="8">
                    <el-form-item label="재고수량" prop="stockQuantity" class="pb-2">
                        <el-input v-model="ruleForm.stockQuantity" placeholder="재고수량을 입력해주세요"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item label="최소기준수량" prop="minQuantity" class="pb-2">
                        <el-input v-model="ruleForm.minQuantity" placeholder="최소기준수량을 입력해주세요"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item>
                        <el-button type="primary" @click.native="doPutData">수정</el-button>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</template>
<script>
export default {
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    data() {
        console.log(this)
        return {
            id: null,
            ruleForm: {
                stockQuantity: 0,
                minQuantity: 0
            },
            rules: {
                stockQuantity: [
                    { required: true, message: '재고수량을 입력해주세요.', trigger: 'blur'},
                ],
                minQuantity: [
                    { required: true, message: '최소기준수량을 입력해주세요.', trigger: 'blur'},
                ],
            }
        }
    },
    methods: {
        doPutData() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData() {
            let payload = {
                id: this.id,
                list: {
                    stockQuantity: Number(this.ruleForm.stockQuantity),
                    minQuantity: Number(this.ruleForm.minQuantity)
                }
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$stockConstants.DO_UPDATE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/stock/list`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'STOCK_EDIT')
    },
}
</script>
