<template>
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
        <el-row>
            <el-col :span="8">
                <el-form-item label="지출항목" prop="incomeCategory" class="pb-2">
                    <el-input v-model="ruleForm.incomeCategory" placeholder="지출항목을 입력해주세요"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="8">
                <el-form-item label="년도" prop="incomeYear" class="pb-2">
                    <el-select v-model="ruleForm.incomeYear" placeholder="년도를 선택해주세요">
                        <el-option v-for="(item, index) in yearList" :key="index" :value="item.value">{{ item.name }}</el-option>
                    </el-select>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="8">
                <el-form-item label="월" prop="incomeMonth" class="pb-2">
                    <el-select v-model="ruleForm.incomeMonth" placeholder="월을 선택해주세요">
                        <el-option v-for="(n, index) in 12" :key="index" :value="n < 10 ? '0' + n : n">{{ n < 10 ? '0' + n : n }}</el-option>
                    </el-select>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="8">
                <el-form-item label="금액" prop="price" class="pb-2">
                    <el-input v-model="ruleForm.price" placeholder="금액을 입력해주세요"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="8">
                <el-form-item>
                    <el-button type="primary" @click.native="doPutData">수정</el-button>
                </el-form-item>
            </el-col>
        </el-row>
    </el-form>
</template>
<script>
export default {
    asyncData({params}) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            yearList: [
                {name: new Date().getFullYear(), value: new Date().getFullYear()},
                {name: new Date().getFullYear() - 1, value: new Date().getFullYear() - 1},
                {name: new Date().getFullYear() - 2, value: new Date().getFullYear() - 2},
                {name: new Date().getFullYear() - 3, value: new Date().getFullYear() - 3},
            ],
            id: null,
            ruleForm: {
                incomeCategory: '',
                incomeYear: '',
                incomeMonth: '',
                price: 0,
            },
            rules: {
                incomeCategory: [
                    {required: true, message: '지출항목을 입력해주세요', trigger: 'blur'},
                    {min: 2, max: 20, message: '2~20자 내로 입력해주세요.', trigger: 'blur'}
                ],
                incomeYear: [
                    {required: true, message: '년도를 선택해주세요', trigger: 'change'}
                ],
                incomeMonth: [
                    {required: true, message: '월을 입력해주세요', trigger: 'blur'},
                ],
                price: [
                    {required: true, message: '금액을 입력해주세요', trigger: 'blur'},
                ],
            }
        };
    },
    methods: {
        doPutData() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.putData()
                } else {
                    return false
                }
            })
        },
        putData() {
            let payload = {
                id: this.id,
                list: {
                    incomeCategory: this.ruleForm.incomeCategory,
                    incomeYear: this.ruleForm.incomeYear,
                    incomeMonth: this.ruleForm.incomeMonth,
                    price: this.ruleForm.price
                }
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$incomeConstants.DO_UPDATE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/income/list`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'INCOME_EDIT')
    },
}
</script>
