<template>
    <div>
        <div class="flex-box">
            <div class="flex-box">
                <el-select class="mr-1" v-model="searchYear" placeholder="년도">
                    <el-option v-for="(item, index) in yearList" :key="index" :value="item.value">{{ item.name }}</el-option>
                </el-select>
                <el-select class="mr-1" v-model="searchMonth" placeholder="월">
                    <el-option v-for="(n, index) in 12" :key="index" :value="n < 10 ? '0' + n : n">{{ n < 10 ? '0' + n : n }}</el-option>
                </el-select>
                <el-input class="mr-1" v-model="searchName" placeholder="이름"></el-input>
                <el-button type="success" circle @click.native="getList">검색</el-button>
            </div>
            <div>
                <el-button type="success" circle @click.native="moveCreate()">등록</el-button>
            </div>
        </div>
        <el-table
            :data="list"
            class="mt-2 mb-2"
            style="width: 100%">
            <el-table-column
                prop="id"
                label="No."
                width="80"
                align="center">
            </el-table-column>
            <el-table-column
                prop="incomeYear"
                label="년도"
                align="center">
            </el-table-column>
            <el-table-column
                prop="incomeMonth"
                label="월"
                align="center">
            </el-table-column>
            <el-table-column
                prop="incomeCategory"
                label="지출항목"
                align="center">
            </el-table-column>
            <el-table-column
                prop="price"
                label="지출액"
                align="center">
            </el-table-column>
            <el-table-column
                label="수정"
                align="center">
                <template slot-scope="scope"><el-button type="info" @click.native="moveEdit(scope.row.id)">수정</el-button></template>
            </el-table-column>
        </el-table>
        <el-pagination
            background
            small
            layout="prev, pager, next"
            :total="totalItemCount"
            :current-page="page"
            @current-change="setPage"
        >
        </el-pagination>
    </div>
</template>
<script>
export default {
    data() {
        return {
            yearList: [
                {name: new Date().getFullYear(), value: new Date().getFullYear()},
                {name: new Date().getFullYear() - 1, value: new Date().getFullYear() - 1},
                {name: new Date().getFullYear() - 2, value: new Date().getFullYear() - 2},
                {name: new Date().getFullYear() - 3, value: new Date().getFullYear() - 3},
            ],
            list: [],
            page: 1,
            totalItemCount: 0,

            searchYear: null,
            searchMonth: null,
            searchName: null
        }
    },
    methods: {
        setPage(page) {
            this.page = page
            this.getList()
        },
        getList() {
            let payload = {
                page: this.page,
                params: {
                    searchYear: this.searchYear,
                    searchMonth: this.searchMonth,
                    searchName: this.searchName
                }
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$incomeConstants.DO_LIST, payload)
                .then((res) => {
                    this.list = res.data.list
                    this.totalItemCount = res.data.totalItemCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveCreate() {
            this.$router.push('/income/form')
        },
        moveDetail(row) {
            let linkBaseUrl = '/income/detail/'
            let id = row.id
            this.$router.push(`${linkBaseUrl}${id}`)
        },
        moveEdit(id) {
            let linkBaseUrl = '/income/edit/'
            this.$router.push(`${linkBaseUrl}${id}`)
        }
    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'INCOME_LIST')
    },
}
</script>
