<template>
    <div>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
            <el-row>
                <el-col :span="8">
                    <el-form-item label="현재 비밀번호" prop="currentPassword" class="pb-2">
                        <el-input v-model="ruleForm.currentPassword" show-password placeholder="현재 비밀번호를 입력해주세요"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item label="새로운 비밀번호" prop="changePassword" class="pb-2">
                        <el-input v-model="ruleForm.changePassword" show-password placeholder="새로운 비밀번호를 입력해주세요"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item label="새로운 비밀번호 확인" prop="changePasswordRe" class="pb-2">
                        <el-input v-model="ruleForm.changePasswordRe" show-password placeholder="새로운 비밀번호를 입력해주세요"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item>
                        <el-button type="primary" class="size-full" @click.native="doSetData">등록</el-button>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</template>
<script>
export default {
    data() {
        return {
            ruleForm: {
                currentPassword: '',
                changePassword: '',
                changePasswordRe: '',
            },
            rules: {
                currentPassword: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:8, max:20, message:'2~20자 내로 입력해주세요.', trigger: 'blur'}
                ],
                changePassword: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:8, max:20, message:'2~20자 내로 입력해주세요.', trigger: 'blur'}
                ],
                changePasswordRe: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:8, max:20, message:'2~20자 내로 입력해주세요.', trigger: 'blur'}
                ]
            }
        }
    },
    methods: {
        doSetData() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData() {
            let payload = {
                currentPassword: this.ruleForm.currentPassword,
                changePassword: this.ruleForm.changePassword,
                changePasswordRe: this.ruleForm.changePasswordRe
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$memberConstants.DO_PASSWORD_CHANGE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'PRODUCT_LIST')
    },
}
</script>
