<template>
    <div>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
            <el-row>
                <el-col :span="8">
                    <el-form-item label="제목" prop="title" class="pb-2">
                        <el-input v-model="ruleForm.title" placeholder="제목을 입력해주세요"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item label="내용" prop="content" class="pb-2">
                        <el-input type="textarea" v-model="ruleForm.content" placeholder="내용을 입력해주세요"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="8">
                    <el-form-item>
                        <el-button type="primary" class="size-full" @click.native="doSetData">등록</el-button>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</template>
<script>
export default {
    asyncData({ params }) {
        console.log(params.id)
        return {
            id: params.id
        }
    },
    // middleware: 'auth',
    data() {
        return {
            id: null,
            ruleForm: {
                title: '',
                content: '',
            },
            rules: {
                title: [
                    { required: true, message: '제목을 입력해주세요', trigger: 'blur'},
                    { min:2, max:30, message:'2~30자 내로 입력해주세요.', trigger: 'blur'}
                ],
                content: [
                    { required: true, message: '내용을 입력해주세요', trigger: 'blur'},
                    { min:10, message:'10자 이상으로 입력해주세요.', trigger: 'blur'}
                ],
            }
        }
    },
    methods: {
        doSetData() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData() {
            let payload = {
                id: this.id,
                data: {
                    title: this.ruleForm.title,
                    content: this.ruleForm.content,
                }
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$boardConstants.DO_UPDATE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/board/list`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'BOARD_EDIT')
    },
}
</script>
