<template>
    <div>
        <el-table
            :data="list"
            style="width: 100%"
            class="mt-2 mb-2">
            <el-table-column
                prop="id"
                label="No."
                width="80"
                align="center">
            </el-table-column>
            <el-table-column
                prop="productName"
                label="상품명"
                align="center">
            </el-table-column>
            <el-table-column
                prop="stockQuantity"
                label="재고수량"
                align="center">
            </el-table-column>
            <el-table-column
                prop="minQuantity"
                label="최소기준수량"
                align="center">
            </el-table-column>
        </el-table>
    </div>
</template>
<script>
export default {
    data() {
        return {
            list: [],
        }
    },
    methods: {
        getList() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$stockConstants.DO_LACK_LIST)
                .then((res) => {
                    this.list = res.data.list
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'STOCK_LIST')
    },
}
</script>
