<template>
    <div>
        <el-row>
            <el-col>
                <div class="flex-box">
                    <div class="flex-box">
                        <el-input class="mr-1" v-model="searchName" placeholder="상품명"></el-input>
                        <el-button type="success" circle @click.native="getList">검색</el-button>
                    </div>
                    <div>
                        <el-button type="success" circle @click.native="moveLackList">재고부족</el-button>
                    </div>
                </div>
            </el-col>
        </el-row>
        <el-table
            :data="list"
            style="width: 100%"
            class="mt-2 mb-2">
            <el-table-column
                prop="id"
                label="No."
                width="80"
                align="center">
            </el-table-column>
            <el-table-column
                prop="productName"
                label="상품명"
                align="center">
            </el-table-column>
            <el-table-column
                prop="stockQuantity"
                label="재고수량"
                align="center">
            </el-table-column>
            <el-table-column
                prop="minQuantity"
                label="최소기준수량"
                align="center">
            </el-table-column>
            <el-table-column
                label="수정"
                align="center">
                <template slot-scope="scope"><el-button type="info" @click.native="moveEdit(scope.row.id, scope.row)">수정</el-button></template>
            </el-table-column>
        </el-table>
        <div>
            <el-pagination
                background
                small
                layout="prev, pager, next"
                :total="totalItemCount"
                :current-page="page"
                @current-change="setPage"
            >
            </el-pagination>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            list: [],
            page: 1,
            totalItemCount: 0,

            searchName: null
        }
    },
    methods: {
        setPage(page) {
            this.page = page
            this.getList()
        },
        getList() {
            let payload = {
                page: this.page,
                params: {
                    searchName: this.searchName
                }
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$stockConstants.DO_LIST, payload)
                .then((res) => {
                    this.list = res.data.list
                    this.totalItemCount = res.data.totalItemCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveLackList() {
            this.$router.push('/stock/lack-list')
        },
        moveEdit(id, row) {
            let linkBaseUrl = '/stock/edit/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },
    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'STOCK_LIST')
    },
}
</script>
